language: python

python:
    - "2.7_with_system_site_packages"

branches:
    only:
        - master

env:
    matrix:
        - SYSTEM_PACKAGES=true  QT=qt5.2
        - SYSTEM_PACKAGES=false QT=qt5.4
        - SYSTEM_PACKAGES=true  QT=qt5.4

before_install:
    - sudo apt-get install -y python-twisted lua5.2-dev zlib1g-dev python-imaging
    # Cached Downloads
    - sudo mkdir -p /downloads
    - sudo chmod a+rw /downloads
    - if [ ! -f /downloads/sip.tar.gz ];   then curl -L -o /downloads/sip.tar.gz http://sourceforge.net/projects/pyqt/files/sip/sip-4.16.7/sip-4.16.7.tar.gz; fi
    - if [ ! -f /downloads/pyqt5.tar.gz ]; then curl -L -o /downloads/pyqt5.tar.gz http://sourceforge.net/projects/pyqt/files/PyQt5/PyQt-5.4/PyQt-gpl-5.4.tar.gz; fi
    - echo '32abc003980599d33ffd789734de4c36  /downloads/sip.tar.gz' | md5sum -c -
    - echo '7f2eb79eaf3d7e5e7df5a4e9c8c9340e  /downloads/pyqt5.tar.gz' | md5sum -c -
    # Builds
    - sudo mkdir -p /builds
    - sudo chmod a+rw /builds
    # QT5
    - if [[ "$QT" == "qt5.2" ]]; then sudo apt-add-repository -y ppa:beineri/opt-qt521; sudo apt-get update -qq; sudo apt-get install -qq qt52base qt52declarative qt52webkit libgstreamer0.10-dev libgstreamer-plugins-base0.10-dev; fi
    - if [[ "$QT" == "qt5.4" ]]; then sudo apt-add-repository -y ppa:beineri/opt-qt541; sudo apt-get update -qq; sudo apt-get install -qq qt54base qt54declarative qt54webkit; fi
    # Builds
    - pushd /builds
    # SIP
    - tar xzf /downloads/sip.tar.gz --keep-newer-files
    - pushd sip-4.16.7
    - python configure.py
    - make
    - sudo make install
    - popd
    # PyQt5
    - tar xzf /downloads/pyqt5.tar.gz --keep-newer-files
    - pushd PyQt-gpl-5.4
    - if [[ "$QT" == "qt5.2" ]]; then python configure.py -c --qmake "/opt/qt52/bin/qmake" --confirm-license --no-designer-plugin -e QtCore -e QtGui -e QtWidgets -e QtNetwork -e QtWebKit -e QtWebKitWidgets -e QtTest -e QtPrintSupport --verbose; fi
    - if [[ "$QT" == "qt5.4" ]]; then python configure.py -c --qmake "/opt/qt54/bin/qmake" --confirm-license --no-designer-plugin -e QtCore -e QtGui -e QtWidgets -e QtNetwork -e QtWebKit -e QtWebKitWidgets -e QtTest -e QtPrintSupport --verbose; fi
    - make
    - sudo make install
    - popd
    # Builds Complete
    - popd
    # pip installs
    - pip install -U psutil requests jsonschema strict-rfc3339 xvfbwrapper pytest funcparserlib pytest-cov codecov
    - pip install git+https://github.com/sunu/qt5reactor
    - "if [[ $SYSTEM_PACKAGES == 'false' ]]; then pip install -UI Pillow twisted service_identity lupa; fi"

install:
    - python setup.py install

script:
    - py.test --version
    - py.test --cov=splash --doctest-modules splash

after_success:
    - codecov
