language: python

python:
    - 2.7

env:
    matrix:
        - SYSTEM_TWISTED=false
        - SYSTEM_TWISTED=true

virtualenv:
    system_site_packages: true

before_install:
    - sudo apt-get install python-twisted python-qt4
    - pip install qt4reactor psutil requests Pillow jsonschema strict-rfc3339 xvfbwrapper pytest pytest-xdist
    - "if [[ $SYSTEM_TWISTED == 'false' ]]; then pip install -UI twisted service_identity; fi"

install:
    - python setup.py install

script:
    - py.test -n4
