# install PyQt4 and the following packages:
twisted
qt4reactor
psutil

# the following libraries are only required by tests
pyOpenSSL
requests >= 1.0
Pillow

# Probably you would like to install pdb4qt for debugging
# https://pypi.python.org/pypi/pdb4qt/
