ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
nbconvert==5.6.0
nbformat==4.4.0
notebook==5.7.8
tornado < 6.0
widgetsnbextension==3.5.1
