Source: splash
Section: misc
Priority: extra
Maintainer: Scrapinghub Team <info@scrapinghub.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.scrapinghub.com/

Package: splash
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 hub-xvfb,
 libqt4-webkit,
 python-twisted,
 python-qt4,
 python-qt4reactor,
 libicu48,
 python-raven,
 python-psutil,
 zlib1g-dev,
 python-imaging,
 openssl
Description: Page thumbnailing service
 This is the service that powers webpage thumbnailing for Autoscraping
 (templates and annotation runs)
